.aboutus-container {
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 123);
    height: 80vh;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px 10px;
}