.my-account-container {
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* width: 100%; */
    /* background-color: crimson; */
    /* padding: 5px 13px; */
}