.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 100%;
}

.mostselling-list ul {
    list-style-type: none;
    padding: 0;
}

.mostselling-list li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .chart-container {
        width: 48%;
    }
}