.filterside-container h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(85, 85, 85);
}

.filt-sec {
    display: flex;
    flex-direction: column;
}

.sort-sec {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.103);
    margin: 10px;
    margin-top: 0;
    border-radius: 10px;
}

.filt-sec-header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 2.2rem;
    border-radius: 10px;
    align-items: center;
}

.filt-sec-header h1 {
    font-size: 0.8rem;
    color: black;
}

.sort-sec-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sort-sec-body select {
    width: 100%;
    height: 2.2rem;
    padding: 5px;
    border-radius: 5px;
}

/* --------------------------------- */

.price-sec {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.103);
    margin: 10px;
    margin-top: 0;
    border-radius: 10px;
}

.price-sec-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.price-val {
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 5px 0;
    margin-bottom: 8px;
}

.price-slider {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.price-slider .thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -5px;
    cursor: grab;
    background-color: lightgreen;
    border: 2px solid rgb(53, 168, 63);
}

/* ------------------------------------------- */

.category-sec {
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.103);
    margin: 10px;
    margin-top: 0;
    border-radius: 10px;
}

.category-sec-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px 10px;
}

.cake-cat {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 2rem; */
    background-color: rgb(255, 255, 255);
}

.mainitem-cat-drop {
    background-color: rgba(165, 165, 165, 0.768);
    display: flex;
    /* width: 100%; */
    padding: 4px 10px;
    justify-content: space-between;
    align-items: center;
}

.mainitem-cat-drop h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}

.secondary-itms ul{
    list-style: none;
    text-align: start;
    margin: 5px 0;
}

.secondary-itms ul li{
    margin-left: -15px;
}