.filterside-container h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(85, 85, 85);
}

.filt-sec {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 107, 107); */
}

.sort-sec {
    padding: 5px;
    padding-top: 0;
}

.filt-sec-header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 2.2rem;
    align-items: center;
}

.filt-sec-header h1 {
    font-size: 0.8rem;
    color: black;
}

.sort-sec-body {
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sort-sec-body select {
    width: 100%;
    height: 2.2rem;
    padding: 5px;
    border-radius: 5px;
}

/* --------------------------------- */

.price-sec {
    padding: 5px;
}

.price-sec-body {
    background-color: rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.price-val {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 5px 0;
    margin-bottom: 8px;
}

.price-slider {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.price-slider .thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -5px;
    cursor: grab;
    background-color: lightgreen;
    border: 2px solid rgb(53, 168, 63);
}