.contactus-container {
    display: flex;
    flex-direction: row;
    background: lightsalmon;
    height: 80vh;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px 10px;
}