.my-account-container {
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(circle, rgb(255, 183, 225), rgb(255, 231, 249), white);
    /* height: 85vh; */
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 0px 10px; */
    padding: 10px;
}