.my-account-container{
    display: flex;
    flex-direction: row;
    background: rgb(241, 122, 216);
    height: 80vh;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px 10px;
}