.userlogin-container {
    /* background-color: blue; */
    background-image: radial-gradient(circle, rgb(255, 183, 225), rgb(255, 231, 249), white);
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-register-container {
    display: flex;
    width: 130vh;
    margin: 50px 0;
}

.login-sec {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 20px 0 0 20px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
}

#already-regged-lbl {
    text-align: left;
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 141, 181);
    margin: 0;
}

.login-form {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: 30rem; */
    margin-top: 15px;
    padding-right: 15px;
}

.login-form label {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
}

.login-form input {
    width: 100%;
    height: 3.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 12px;
}

.login-btns {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#signInBtn {
    margin-top: 20px;
    height: 3.2rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: background-color 0.2s;
    cursor: pointer;
}

#signInBtn:hover {
    background-color: rgb(255, 174, 231);
    transition: background-color 0.2s;
}

#googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffece2;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 3.2rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#googleBtn:hover {
    background-color: #ffd1b9;
    transition: background-color 0.2s;
}

#googleBtn img {
    width: 25px;
}

#forgot-pass-lbl {
    font-size: 1rem;
    text-align: right;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

#forgot-pass-lbl span {
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.2s;
    cursor: pointer;
    color: #efab87;
}

#forgot-pass-lbl span:hover {
    color: blue;
    transition: color 0.2s;
}



.register-sec {
    background-color: rgb(245, 204, 225);
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 0 20px 20px 0;
    padding: 30px;
    margin: 20px 0;
    /* box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1); */
}

#donthave-account-lbl {
    text-align: left;
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
}

.register-form {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: 30rem; */
    margin-top: 15px;
    padding-right: 15px;
}

.register-form label {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(54, 54, 54);
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
}

.register-form input {
    width: 100%;
    height: 3.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 12px;
}

.register-btns {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
}

#registerBtn {
    margin-top: 20px;
    height: 3.2rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

#registerBtn:hover {
    background-color: rgb(255, 141, 221);
    color: white;
    transition: background-color 0.2s, color 0.2s;
}

#googleRegBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffece2;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 3.2rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#googleRegBtn:hover {
    background-color: #efab87;
    /* color: white; */
    transition: background-color 0.2s;
}

#googleRegBtn img {
    width: 25px;
}