.user-chat-container {
    background-color: rgb(233, 222, 255);
    display: flex;
    border-radius: 0 0 20px 20px;
    margin: 0 10px;
}

.cht-body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 0;
    width: 75%;
    border-radius: 20px;
}

.cht-body h1 {
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    background-color: rgb(218, 163, 255);
    padding: 10px;
    border-radius: 20px 20px 0 0;
    margin: 0;
}




.msg-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 63vh;
    border-radius: 15px;
    padding: 8px;
    overflow-y: auto;
}

.chat-threads {
    overflow-y: auto;
}

.user-side {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5px 0;
    padding-left: 51.5%;
}

.sender-side {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px 0;
    padding-right: 51.5%;
}

#user-msg {
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    margin-right: 10px;
    background-color: #8b6ff0;
    color: white;
}

#sender-msg {
    padding: 10px;
    border-radius: 10px;
    margin: 2px;
    background-color: #bb65e9;
    color: white;
}

.text-sender {
    display: flex;
    align-items: center;
    width: 100%;
}

#message-txt {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding-left: 12px;
    outline: none;
    font-size: 1.05rem;
    margin-top: 5px;
}

.text-sender .fa-paper-plane {
    position: absolute;
    right: 55px;
    font-size: 1.3rem;
    margin-top: 5px;
    color: #9340ff;
    transition: scale 0.2s,
        color 0.2s;
    cursor: pointer;
}

.text-sender .fa-paper-plane:hover {
    scale: 1.1;
    color: black;
    transition: scale 0.2s, color 0.2s;
}

.text-sender .fa-file {
    position: absolute;
    right: 95px;
    font-size: 1.3rem;
    margin-top: -7px;
    color: #9340ff;
    transition: scale 0.2s,
        color 0.2s;
    cursor: pointer;
}

.text-sender .fa-file:hover {
    scale: 1.1;
    color: black;
    transition: scale 0.2s, color 0.2s;
}











.chat-instructions {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 25%;
    padding: 10px;
}

.chat-instructions h1 {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    margin: 10px;
}

.chat-instructions p {
    font-size: 0.8rem;
    text-align: justify;
    margin: 10px 20px;
}

.chat-instructions p span {
    font-weight: bold;
}

.cht-now-body {
    background-color: #8b6ff04b;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.cht-now-body button {
    background-color: #8b6ff0;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 18px rgba(134, 102, 250, 0.8);
    /* border-radius: 5px; */
    cursor: pointer;
}