.userlogin-container {
    /* background-color: blue; */
    background-image: radial-gradient(circle, rgb(183, 188, 255), rgb(231, 235, 255), white);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 87vh;
    padding: 50px 0;
}

.login-register-container {
    display: flex;
    width: 90vh;
    align-items: center;
    /* background-color: #efab87; */
}

.login-sec {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 25rem;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.1);
}

#admin-lbl {
    text-align: center;
    font-size: 1.7rem;
    font-family: "Roboto", sans-serif;
    color: rgb(133, 113, 223);
    /* margin: 0; */
    margin-top: -10px;
    margin-bottom: 30px;
}

.login-form {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: start;
    /* width: 30rem; */
    margin: 0 20px;
    margin-top: 15px;
    padding-right: 15px;
    gap: 20px;
}

.login-form label {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
}

.login-form input {
    width: 100%;
    height: 3.2rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 12px;
}

.login-btns {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#signInBtn {
    margin: 0 20px;
    margin-top: 20px;
    height: 3.2rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(162, 134, 214);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s;
}

#signInBtn:hover {
    background-color: rgb(179, 174, 255);
    border: 2px solid rgba(45, 0, 128, 0.11);
}