.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(231, 231, 231);
    margin-top: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#cake-a-boo {
    z-index: 2;
    width: 40%;
    height: auto;
    margin-bottom: -2rem;
    margin-top: 1.1rem;
}

.foot-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
    background: #ff84be;
    padding-top: 70px;
    padding-bottom: 45px;
    height: auto;
    width: 100%;
}

/* ------------------------------------------------------------------- */

.sec-one {
    width: 30%;
    margin-left: 80px;
    /* background: lightgreen; */
}

.sec-one h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    text-align: left;
}

.sec-one p {
    text-align: justify;
    color: white;
}

.sec-one h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: left;
    color: white;
}

/* ------------------------------------------------------------------- */

.sec-two {
    width: 10%;
    /* background: lightgreen; */
}

.sec-two h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    text-align: left;
}

.sec-two ul {
    color: white;
    text-align: left;
    line-height: 1.65rem;
    list-style: none;
    padding: 0;
    margin-top: -3px;
    width: 8.5rem;
    cursor: pointer;
}

.sec-two li:hover {
    transition: color 0.2s, font-weight 0.2s;
    color: #764ad4;
    font-weight: 600;
}


/* ------------------------------------------------------------------- */

.sec-three {
    width: 20%;
    margin-left: -20px;
    /* background: lightgreen; */
}

.sec-three h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    text-align: left;
}

.sec-three ul {
    color: white;
    text-align: left;
    line-height: 1.65rem;
    list-style: none;
    padding: 0;
    margin-top: -3px;
    cursor: pointer;
}


/* ------------------------------------------------------------------- */

.sec-four{
    width: 30%;
    background: lightgreen;
    margin-right: 80px;
    margin-left: -20px;
}

.sec-four h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    text-align: left;
}


/* ------------------------------------------------------------------- */

.bottm-segmnt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(45, 45, 45);
    height: 30px;
}

.bottm-segmnt h1 {
    color: white;
    padding: 0 30px;
    font-size: 0.8rem;
    font-weight: 400;
}
