.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px;
    margin-top: 7px;
    border-radius: 40px;
    background: #ff82cd;
    overflow: hidden;
    position: relative;
}

.reviews-container h1 {
    color: white;
    font-family: "Bungee", sans-serif;
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 20px;
}

.nav-cards-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.corousel-pane {
    display: flex;
    width: 90%;
    overflow: hidden;
}

.feedback-cards-wrapper {
    display: flex;
    width: calc(100% - 60px);
    overflow: hidden;
}

.feedback-cards {
    display: flex;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform 0.5s ease;
}

.single-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 20rem;
    height: 28rem;
    border-radius: 25px;
}

#person-img {
    width: 40%;
    height: auto;
    margin-top: 25px;
    margin-bottom: -45px;
    z-index: 2;
}

.desc-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(182, 91, 164);
    border-radius: 25px;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 23px;
}

#top-com {
    margin-left: 30px;
    width: 10%;
    height: auto;
}

#bottom-com {
    margin-left: auto;
    margin-right: 30px;
    width: 10%;
    height: auto;
}

.desc-section p {
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 0 30px;
}

#left-btn {
    color: white;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 5px;
    margin-left: 30px;
    transition: color 0.3s, font-size 0.3s;
    cursor: pointer;
}

#left-btn:hover{
    color: black;
    font-size: 3rem;
}

#right-btn {
    color: white;
    background: none;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 30px;
    padding-bottom: 5px;
    transition: color 0.3s, font-size 0.3s;
    cursor: pointer;
}

#right-btn:hover{
    color: black;
    font-size: 3rem;
}