.single-product-container {
    display: flex;
    gap: 10px;
    /* height: 110vh; */
    /* background-color: aliceblue; */
}

.left-side-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin: 10px;
    margin-right: 0;
    margin-top: 0;
    width: 50%;
    border-radius: 10px;
}

.right-side-cont {
    display: flex;
    text-align: left;
    padding-top: 30px;
    /* background-color: lightgreen; */
    margin: 10px;
    margin-top: 0;
    margin-left: 0;
    border-radius: 20px;
    width: 50%;
}

.product-img-viewer {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
    /* height: 100%; */
}

.fullimg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* background-color: crimson; */
}

.thumb-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 98%;
    border-radius: 30px;
    /* background-color: rgba(0, 183, 255, 0.104); */
}

#main-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
}

#thumb-image {
    max-height: 85%;
    max-width: 85%;
    border-radius: 20px;
}

.description-sec {
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 114, 241, 0.268);
    margin-top: 20px;
    margin-left: 12px;
    border-radius: 20px;
    /* height: 10rem; */
    width: 98.5%;
}

.desc-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(55, 138, 255, 0.855);
    width: 100%;
    height: 2.3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.desc-head h2 {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: white;
}

.desc-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: justify;
    padding: 0 20px;
    margin-bottom: 5px;
}

.default-sec hr {
    border: 0.5px solid rgba(248, 55, 152, 0.178);
}

.default-sec h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 75, 165);
    margin: 0;
    margin-left: 10px;
}



.product-dtl-viewer {
    margin-left: 35px;
    margin-right: 35px;
    width: 100%;
}

#title {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    color: rgb(248, 55, 151);
    margin: 0;
    margin-top: 20px;
}

#categories {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgb(51, 51, 51);
    margin: 0;
    margin-top: 10px;
}

#keywords {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 0.85rem;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin-top: 5px;
}

.layer-tier-cont {
    display: flex;
    gap: 15px;
    margin-top: -10px;
}

#layers {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
}

#tiers {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
}

#flavors {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
}

.desc-cont {
    background-color: rgba(0, 183, 255, 0.104);
    border-radius: 20px;
    height: 17.4rem;
    width: 95%;
    padding: 20px;
}

.cust-lt-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(248, 55, 152, 0.125);
    border-radius: 0 20px;
    border-bottom-right-radius: 20px;
    margin-top: 15px;
}

.cust-lt-cont h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 75, 165);
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.cust-lt-cont hr {
    width: 99.8%;
    margin-top: -10px;
    border: 0.5px solid rgba(248, 55, 152, 0.178);
}

.custom-sec {
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    margin-top: -30px;
    padding: 15px 0;
    padding-left: 15px;
    gap: 20px;
    align-items: center;
    border: 1px solid rgba(255, 46, 154, 0.395);
    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 20px;
}

.first-rw {
    display: flex;
    gap: 20px;
    align-items: center;
}

.second-rw {
    display: flex;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
}

.third-rw {
    display: flex;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
}

.second-rw label {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 75, 165);
    font-weight: 500;
}

.third-rw label {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 75, 165);
    font-weight: 500;
}

.third-rw textarea {
    width: 66%;
    height: 3rem;
    max-width: 66%;
    max-height: 4.5rem;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(248, 55, 152, 0.372);

}

.second-rw input[type="text"] {
    width: 82%;
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(248, 55, 152, 0.178);
}

.cust-lt-cont input[type="number"] {
    width: 2.9rem;
    padding: 8px 5px;
    border: 1px solid rgba(248, 55, 152, 0.372);
    border-radius: 10px;
}

#cust-layers {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 75, 165);
    margin: 0;
}

.default-sec {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    padding-bottom: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(248, 55, 152, 0.178);
}

.default-sec label {
    font-size: 1.1rem;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.color-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
    margin-top: -10px;
    /* margin-bottom: -10px; */
    margin-left: 10px;
    gap: 5px;
}

.color-grid h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 11px;
    margin-left: 0;
}

.gcell {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    scale: 1.15;
    margin: 0 2px;
}

.fourth-rw {
    display: flex;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.select-colors {
    display: flex;
    gap: 7px;
    padding: 10px;
    align-items: center;
    border: 1px solid rgba(248, 55, 152, 0.372);
    border-radius: 10px;
    margin-left: -10px;
}

.selected {
    border: 1px solid rgb(137, 137, 137);
    scale: 1.3;
}

#color-slct {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 75, 165);
    margin: 0;
}

.fifth-rw {
    display: flex;
    margin-top: 15px;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.fifth-rw select {
    margin-left: -10px;
    width: 20%;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(248, 55, 152, 0.372);
    border-radius: 10px;
}

.total-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.btns-cpl {
    display: flex;
    gap: 10px;
}

.total-sec button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 0 25px;
    border-radius: 25px;
    font-family: "Bungee", sans-serif;
    gap: 10px;
    cursor: pointer;
    color: white;
    border: none;
    transition: padding 0.2s;
    transition: letter-spacing 0.2s;
}

.fa-cart-plus {
    font-size: 1rem;
}

#sprice {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    color: rgb(255, 0, 0);
}

#addtocart {
    background-color: rgba(55, 138, 255, 0.855);
}

#addtocart:hover {
    padding: 6px 25px;
    letter-spacing: 2px;
    transition: padding 0.2s;
    transition: letter-spacing 0.2s;
}

#proceed {
    background-color: rgba(18, 183, 12, 0.855);
}

#proceed:hover {
    padding: 6px 25px;
    letter-spacing: 2px;
    transition: padding 0.2s;
    transition: letter-spacing 0.2s;
}